.tab{

    border: 1px solid #000000;
    text-align: center;
  
    margin: 0 auto; /* centre horizontalement le bouton en prenant en compte la largeur définie */

    
}
.h1admindepot{
    text-align: center;
    padding: 50pt;
}