.tab{
 
    background-color: rgb(235, 231, 231);
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    padding: 50pt;
    width: 100%;
   
}
.the{
    background-color: rgb(210, 208, 208);
    text-align: center;
}